
# 1) Create a virtual environment
    # python -m venv .venv

# 2) Activate the virtual environment
    # .venv\Scripts\activate

# 3) Install the required programs and libraries
    # Librerías principales
    openai-whisper # pip install -U openai-whisper
    spacy # pip install -U spacy
    es_core_news_sm @ https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-3.7.0/es_core_news_sm-3.7.0-py3-none-any.whl
        # python -m spacy download es_core_news_sm-3.7.0-py3-none-any.whl
    # Procesamiento de audio
    sounddevice #pip install -U sounddevice
    numba==0.59.1 # pip install -U numba==0.59.1
    scipy==1.11.4 # pip install scipy==1.11.4
    numpy==1.26.4 # pip install numpy==1.26.4
    
    # Utilidades varias
    keyboard # pip install -U keyboard


    # pip install -r requirements.txt 

# 4) IMPORTANT: Install # rapidfuzz --no-deps 
    # pip install -U rapidfuzz --no-deps

# 5) Check if the required libraries are installed correctly
    # python -c "import whisper, spacy, sounddevice, numpy, rapidfuzz, keyboard; print('TODO OK')"
