
# 1) Create a virtual environment (optional but recommended)
# python -m venv venv
# 2) Activate the virtual environment
# venv\Scripts\activate

# 3) Install the required programs and libraries
# pip install openai-whisper
# pip install spacy
# python -m spacy download es_core_news_sm

# 4) Install the required libraries for audio processing
# pip install sounddevice
# pip install scipy==1.10.1
# pip install numpy==1.23.5
# pip install numba
# pip install rapidfuzz --no-deps
# pip install keyboard

# 5) Check if the required libraries are installed correctly
# python -c "import whisper, spacy, sounddevice, numpy, rapidfuzz, keyboard; print('TODO OK')"
