SpeechRecognition
PyAudio
gTTS
pygame

spacy==3.7.5
es-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-3.7.0/es_core_news_sm-3.7.0-py3-none-any.whl

rapidfuzz==3.14.3
pynput==1.8.1